@import './constants.scss';

.app {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    color: $textColorWhite;
    //margin-top: 5.5rem;
    background-color: $backgroundColor;

    .app-content__root {
        width: 100%;
        height: 100%;
    }
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

