@import '../../constants.scss';

.nav-bar-wrapper {
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 30px;
    width: 100%;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    height: 6rem;
    size: 1.5rem;
    z-index: 10;
    color: $textColorWhite;
}